.Timercss {
    /* background-color: aqua;
    height: 20vh;
    width: 20vw; */
    font-size:xxx-large
}

.Controlbuttons button {

    padding: 10px;
    margin: 10px;
    font-size: large;
    border-radius: 10%;
}